:root {
    --red: #fa4a34;
    --orange: #fdae46;
    --yellow: #fff068;
    --green: #cbe711;
    --teal: #70f0c7;
    --blue: #4ec7f5;
    --purple: #ec5cca;
    --pink: #fa2f9b;
    --dark: #050205;
    --gray: #d1d1d1;
    --dark-gray: #918e8e;
    --light: #FAFAFA;
}

* {
    font-family: Helvetica !important;
    background-color: var(--light);
    color: var(--dark);
}

body {
    min-height: 100%;
}


.eye {
    width: 30px;
    height: 30px;
    position: relative;
    left:50px;
    background:none;
    bottom:60px;
}

.pupil {
    width: 15px;
    height: 15px;
    background: var(--dark);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smile {
    width: 30%;
    border-radius: 0 0 50px 50px;
    border: 10px solid var(--dark);
    border-top: 0;
    position: relative;
    height: 3%;
    top: -40px;
    left: 50px;
}